<%- include('partials/header', {title: "Home"}) %>

<div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold mb-4">PPAW project</h1>
    <a href="/plans" class="btn btn-primary btn-lg">View plans</a>
  </div>
</div>

<%- include('partials/footer') %>
